include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include qp_validateconnection *.css
recursive-include qp_validateconnection *.csv
recursive-include qp_validateconnection *.html
recursive-include qp_validateconnection *.ico
recursive-include qp_validateconnection *.js
recursive-include qp_validateconnection *.json
recursive-include qp_validateconnection *.md
recursive-include qp_validateconnection *.png
recursive-include qp_validateconnection *.py
recursive-include qp_validateconnection *.svg
recursive-include qp_validateconnection *.txt
recursive-exclude qp_validateconnection *.pyc